-content_for :title do
  -'Rastreio - '+@list.name

#all{:data => {:role => :page, :theme => :b}}
  .header{:data => {:role => :header}}
    %h1='Rastreio - '+@list.name
    %a{:href => url(:list, :view, :id => @list.id), :data => {:icon => 'arrow-l', :direction => :reverse}} Lista
    %a{:href => url(:tracking, :new, :list_id => @list.id), :rel => :external, :data => {:icon => :plus}, :class => 'ui-btn-right'} Código

  .content.list{:data => {:role => :content}}
    =partial 'list/flash'

    -if @list.tracking_codes.empty?
      %h2.empty
        %a{:href => url(:tracking, :new, :list_id => @list.id), :rel => :external, :data => {:icon => :plus, :role => :button, :inline => :true}} Adicione um código
    -else
      %ol{:data => {:role => :listview, 'split-icon' => :trash}}
        -@list.tracking_codes.each do |code|
          -if code.tracking_system.method == 'GET'
            %li
              %a{:href => code.url}="#{code.code} (#{code.tracking_system.name})"
          -elsif code.tracking_system.method == 'POST'
            %li
              %a{:href => 'javascript:void(0)', :onclick => "$(this).siblings('form').submit(); return false"}="#{code.code} (#{code.tracking_system.name})"
              %form{:action => code.tracking_system.clean_url, :method => :post}
                %input{:type => :hidden, :name => code.tracking_system.param_name, :value => code.code}
  =partial 'base/footer'