.field-line(data-role="fieldcontain")
  =f.label :name, :caption => 'Nome: '
  =f.text_field :name
.field-line(data-role="fieldcontain")
  =f.label :code, :caption => 'Código: '
  =f.text_field :code
.field-line(data-role="fieldcontain")
  =f.label :price, :caption => 'Preço: '
  =f.text_field :price
.field-line(data-role="fieldcontain")
  =f.label :url, :caption => 'URL: '
  =f.text_field :url
.buttons-line
  =submit_tag('Criar', 'data-inline' => 'true')