-content_for :title do
  -'Novo Item'

#new(data-role="page" data-theme="b")
  .header(data-role="header")
    %h1 Novo Item
    %a(href="#{url(:list, :view, :id => @list_id)}" data-icon="arrow-l" data-direction="reverse") Voltar
    -if !@item.url.nil? && !@item.url.empty?
      %a(href="#{@item.url}" target="_blank" data-icon="arrow-r") Abrir URL

  .content(data-role="content")
    -form_for :item, url(:item, :new, :list_id => @list_id) do |f|
      =partial "item/form", :locals => { :f => f }