-content_for :title do
  -'Novo Item'

#new(data-role="page" data-theme="b")
  .header(data-role="header")
    %h1 Novo Item
    %a(href="#{url(:list, :view, :id => @list_id)}" data-rel="back" data-icon="arrow-l") Voltar
    -if !@item.url.nil? && !@item.url.empty?
      %a(href="#{@item.url}" target="_blank" data-icon="arrow-r") Abrir URL

  .content(data-role="content")
    -form_for :item, url(:item, :new, :list_id => @list_id), 'data-ajax' => :false do |f|
      .field-line(data-role="fieldcontain")
        =f.label :name, :caption => 'Nome: '
        =f.text_field :name
      .field-line(data-role="fieldcontain")
        =f.label :code, :caption => 'Código: '
        =f.text_field :code
      .field-line(data-role="fieldcontain")
        =f.label :price, :caption => 'Preço: '
        =f.text_field :price
      .field-line(data-role="fieldcontain")
        =f.label :url, :caption => 'URL: '
        =f.text_field :url
      .buttons-line
        =submit_tag('Criar', 'data-inline' => 'true')