h2 {
  text-align: center; }

p {
  font-size: 14px; }

p:first-letter {
  margin-left: 0.6em; }

ins {
  text-decoration: underline; }

form {
  text-align: center; }
  form .field-line {
    border-bottom-width: 0px; }
    form .field-line label {
      display: inline-block;
      width: 60px; }
  form .buttons-line {
    text-align: center; }

.message {
  text-align: center;
  padding: 5px;
  display: block;
  width: 250px;
  margin: 0px auto; }

.message.notice {
  background-color: lightsteelBlue;
  color: navyblue; }

.message.warning {
  background-color: lightYellow;
  color: #987417; }

.message.error {
  background-color: lightSalmon;
  color: maroon; }

.footer .ui-btn {
  margin: 10px; }
.footer .ui-btn-right {
  position: absolute;
  right: 0px;
  top: 0px; }

input.ui-input-text, textarea.ui-input-text, input.ui-input-search {
  background-color: #f0f0f0; }

#login .content h1 {
  width: 210px;
  margin: 0px auto 5px auto; }
  #login .content h1 img {
    width: 100px;
    float: left; }
  #login .content h1 span {
    display: block;
    margin-left: 110px; }
  #login .content h1 #part-1 {
    padding-top: 5px;
    font-size: 1.1em; }
  #login .content h1 #part-2 {
    margin-top: -12px;
    padding-bottom: 5px;
    font-size: 1.7em; }

.content.list .flash {
  margin: -15px -15px 15px -15px; }
  .content.list .flash .message {
    width: 100%; }
