h2, h3, h4, h5, h6 {
  text-align: center; }

p {
  font-size: 14px; }
  p:first-letter {
    margin-left: 0.6em; }

ins {
  text-decoration: underline; }

form {
  text-align: center; }
  form .field-line {
    border-bottom-width: 0px; }
    form .field-line label {
      display: inline-block;
      width: 95px; }
  form .buttons-line {
    text-align: center; }

.message {
  text-align: center;
  padding: 5px;
  display: block;
  width: 250px;
  margin: 0px auto; }

.message.notice {
  background-color: lightsteelBlue;
  color: navyblue; }

.message.warning {
  background-color: lightYellow;
  color: #987417; }

.message.error {
  background-color: lightSalmon;
  color: maroon; }

.header .list-total h5 {
  margin-bottom: 10px;
  margin-top: -10px;
  font-weight: normal; }
  .header .list-total h5 .total {
    font-weight: bold; }

.footer .ui-btn {
  margin: 10px; }
.footer .ui-btn-right {
  position: absolute;
  right: 0px;
  top: 0px; }

input.ui-input-text, textarea.ui-input-text, input.ui-input-search {
  background-color: #f0f0f0; }

#tooltip {
  position: absolute;
  z-index: 3000;
  border: 1px solid #111111;
  background-color: #eeeeee;
  padding: 5px;
  opacity: 0.85; }
  #tooltip h3, #tooltip div {
    margin: 0px; }
  #tooltip h3 {
    text-align: left;
    font-weight: normal;
    font-size: 14px; }

#about #feedback {
  margin-top: 3em; }

#login .content h1 {
  width: 210px;
  margin: 0px auto 5px auto; }
  #login .content h1 img {
    width: 100px;
    float: left; }
  #login .content h1 span {
    display: block;
    margin-left: 110px; }
  #login .content h1 #part-1 {
    padding-top: 5px;
    font-size: 1.1em; }
  #login .content h1 #part-2 {
    margin-top: -12px;
    padding-bottom: 5px;
    font-size: 1.7em; }

#edit #dangerous-buttons {
  margin: 0px auto;
  width: 95%;
  background-color: white;
  margin-top: 30px;
  text-align: center; }
  #edit #dangerous-buttons form {
    border: 1px dashed crimson;
    background-color: #ffe5e5;
    margin: 10px 20px 10px 10px;
    padding: 10px;
    display: none; }

.content.list .flash {
  margin: -15px -15px 15px -15px; }
  .content.list .flash .message {
    width: 100%; }

.ui-btn-up-f, .ui-btn-hover-f, .ui-btn-down-f {
  color: white;
  font-weight: bold;
  text-decoration: none; }

.ui-btn-up-f {
  border: 1px solid #711414;
  background: #ab2525;
  text-shadow: 0 -1px 1px #711414;
  background-image: -moz-linear-gradient(top, #c44f4f, #ab2525);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #c45e5e), color-stop(1, #9e3939));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#c44f4f', EndColorStr='#ab2525')"; }

.ui-btn-hover-f {
  border: 1px solid #6e0000;
  background: #b54a4a;
  text-shadow: 0 -1px 1px #690101;
  background-image: -moz-linear-gradient(top, #d47272, #b54a4a);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #d47272), color-stop(1, #b54a4a));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#d47272', EndColorStr='#b54a4a')"; }

.ui-btn-down-f {
  border: 1px solid #782323;
  background: #c44f4f;
  text-shadow: 0 -1px 1px #782323;
  background-image: -moz-linear-gradient(top, #9e3939, #c44f4f);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #9e3939), color-stop(1, #c44f4f));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#9e3939', EndColorStr='#c44f4f')"; }
