h2 {
  text-align: center; }

form {
  text-align: center; }
  form .field-line {
    border-bottom-width: 0px; }
    form .field-line label {
      display: inline-block;
      width: 60px; }
  form .buttons-line {
    text-align: center; }
