#about(data-role="page" data-theme="b")
  .header(data-role="header")
    %h1 ToBuy - Sobre
    %a(href="#{url(:index, :index)}" data-rel="back" data-icon="arrow-l") Voltar

  .content(data-role="content")
    :textile
      O *ToBuy* foi feito pra facilitar as compras online que a gente faz às vezes.
      Sabe quando você resolve que quer comprar alguns produtos chineses no DealExtreme mas decide que vai fechar a compra outro dia? Então.

      <!-- Além disso, também ajuda a +calcular o valor final da compra+, verificando os valores de câmbio. -->
      Também ajuda na organização, fornecendo +links com informações de acompanhamento dos pacotes+.

      Ah, deu pra perceber que a interface é +mobile+? Pois é, você pode acessar do celular e verificar as coisas diretamente dele, de forma simples e leve.

    %p
      E aí, vai
      %a{:href => url(:account, :new)} cadastrar
      quando?

    %p#feedback
      Aliás, se quiser dar algum feedback, fico muito agradecido! Você pode entrar em contato de duas formas:
      %ul
        %li
          Via email:
          %a{:href => 'mailto:igorsantos07@gmail.com'}igorsantos07@gmail.com
        %li
          Abrindo uma
          %a{:href => 'http://www.github.com/igorsantos07/ToBuy/issues'} issue no Github
          (também pode forkar se quiser! :D)

  -unless current_account.nil?
    =partial 'base/footer'
