-content_for :title do
  -'Minha conta'

#edit(data-role="page" data-theme="b")
  .header(data-role="header")
    %h1 Minha conta
    %a(href="#{url(:index, :index)}" data-icon="arrow-l" data-direction="reverse") Voltar

  .content(data-role="content")
    .flash=[:error, :warning, :notice].map { |type| flash_tag(type, :class => "message #{type}") }.join
    -form_for :account, url(:account, :change_password), :method => :put do |f|
      .field-line(data-role="fieldcontain")
        =f.label :current_password, :caption => 'Senha atual*: '
        =f.password_field :current_password
        =f.error_message_on :current_password

      .field-line(data-role="fieldcontain")
        =f.label :password, :caption => 'Nova senha*: '
        =f.password_field :password
        =f.error_message_on :password

      .field-line(data-role="fieldcontain")
        =f.label :password_confirmation, :caption => 'Confirme a senha*: '
        =f.password_field :password_confirmation
        =f.error_message_on :password_confirmation
      .buttons-line
        =submit_tag('Alterar senha', 'data-inline' => 'true')