-content_for :title do
  -'Minhas listas'

#all{:data => { :role => :page, :theme => :b}}
  .header{:data => { :role => :header}}
    %h1 Listas
    %a{:href => url(:account, :edit), :rel => :external, :data => { :icon => :star}} Conta
    %a{:href => url(:list, :new), :rel => :external, :data => { :icon => :plus}} Nova

  .content.list{:data => {:role => :content}}
    =partial 'list/flash'

    -if @lists.empty?
      %h2.empty
        Não há nenhuma lista ainda
        %img{:src => '/images/emoticon-sad.png', :alt => '=(', :align => :absmiddle}
      %h2
        Crie a primeira com esse botão:
        %a{:href => url(:list, :new), :rel => :external, :data => { :icon => :plus, :role => :button, :inline => :true}} Nova lista
    -else
      %ol{:data => { :role => :listview, 'split-icon' => :gear}}
        -unless @lists[false].nil?
          %li{:data => {:role => 'list-divider'}} Abertas
          =list_of(@lists[false]) do |list|
            =partial 'list/list_item', :locals => { :list => list }
        -unless @lists[true].nil?
          %li{:data => {:role => 'list-divider'}} Compradas
          =list_of(@lists[true]) do |list|
            =partial 'list/list_item', :locals => { :list => list }
  =partial 'base/footer'