-content_for :title do
  -'Minhas listas'

#all(data-role="page" data-theme="b")
  .header(data-role="header")
    %h1 Listas
    %a(href="#{url(:lists, :new)}" rel="external" data-icon="plus" class="ui-btn-right") Nova

  .content.list(data-role="content")
    -if @lists.empty?
      %h2.empty
        Não há nenhuma lista ainda
        %img(src="/images/emoticon-sad.png" alt="=(" align="absmiddle")
      %h2
        Crie a primeira com esse botão:
        %a(href="#{url(:lists, :new)}" rel="external" data-icon="plus" data-role="button" data-inline="true") Nova lista
    -else
      %ol(data-role="listview" data-split-icon="gear")
        -@lists.each do |list|
          %li
            %a(href="/list/#{list.id}" rel="external")=list.name
            %a(href="/list/edit/#{list.id}" rel="external") Editar lista
            %span.ui-li-count=list.items_count