-content_for :title do
  -'Nova Lista'

#new(data-role="page" data-theme="b")
  .header(data-role="header")
    %h1 Nova lista
    %a(href="#{url(:list, :index)}" data-rel="back" data-icon="arrow-l") Voltar

  .content(data-role="content")
    -form_for :list, url(:list, :new) do |f|
      .field-line(data-role="fieldcontain")
        =f.label :name, :caption => 'Nome: '
        =f.text_field :name
      .field-line(data-role="fieldcontain")
        =f.label :currency_id, :caption => 'Moeda: '
        =f.select :currency_id, :options => @currencies
      .buttons-line
        =submit_tag('Criar', 'data-inline' => 'true')