-content_for :title do
  -'Nova Lista'

#new(data-role="page" data-theme="b")
  .header(data-role="header")
    %h1 Nova lista
    %a(href="#{url(:list, :index)}" data-icon="arrow-l" data-direction="reverse") Voltar

  .content(data-role="content")
    -form_for :list, url(:list, :new) do |f|
      =partial "list/form", :locals => { :f => f }
  =partial 'layouts/footer'