-content_for :title do
  -@list.name

#all{:data => {:role => :page, :theme => :b}}
  .header{:data => {:role => :header}}
    %h1=@list.name
    %a{:href => url(:list, :index), :data => {:icon => 'arrow-l', :direction => :reverse}} Listas
    %a{:href => url(:item, :new, :list_id => @list.id), :rel => :external, :data => {:icon => :plus}, :class => 'ui-btn-right'} Item
    =partial "list/navbar", :locals => { :active => :view, :list => @list }

  .content.list{:data => {:role => :content}}
    =partial 'list/flash'

    -if @list.items.empty?
      %h2.empty
        %a{:href => url(:item, :new, :list_id => @list.id), :rel => :external, :data => {:icon => :plus, :role => :button, :inline => :true}} Adicione um item
    -else
      %ol{:data => {:role => :listview, 'split-icon' => :search}}
        -@list.items.each do |item|
          %li{:title => item.comment.gsub("\n", '<br />')}
            %a{:href => url(:item, :edit, :id => item.id, :list_id => @list.id), :rel => :external}=item.displayable_name
            -if item.url.present?
              %a{:href => item.url, :target => :_blank} Abrir URL
            -if !item.price.nil?
              %span.ui-li-count=@list.currency.symbol+number_with_precision(item.price, settings.money_options)
  =partial 'base/footer'

:javascript
  $('.list li').tooltip()