!!!
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
    %title
      ToBuy - #{yield_content :title}
    =stylesheet_link_tag settings.jquery_root+'mobile/1.0b1/jquery.mobile-1.0b1.min.css'
    =stylesheet_link_tag '/stylesheets/main.css'
    =javascript_include_tag settings.jquery_root+'jquery-1.6.1.min.js'
    =javascript_include_tag '/javascripts/jquery/mobile/jquery-mobile-config.js'
    =javascript_include_tag settings.jquery_root+'mobile/1.0b1/jquery.mobile-1.0b1.min.js'
    =javascript_include_tag '/javascripts/application.js'
    =javascript_include_tag '/javascripts/jquery/jquery-price_format.js'
    =javascript_include_tag '/javascripts/jquery/jquery-tooltip.js'
    =partial 'base/ga' if Padrino::Application.production?
  %body
    =yield